body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: black;
}
.top-bar {
  background-color: red;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}
.top-bar select, .top-bar input {
  padding: 5px;
  font-size: 16px;
  margin-right: 20px;
}
.top-bar-title {
  margin-left: 20px;
  font-size: 34px;
  font-weight: bold;
}
.top-bar-title a {
  color: #fff;
  text-decoration: none;
}
.center-link {
  display: flex;
  align-items: center;
  margin-right: 50px;
}
.center-link a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  margin-right: 20px;
}
.grid-container {
  display: grid;
  gap: 10px 5px;
  padding: 70px 10px 10px;
  background-color: white;
}
.video-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  background-color: black;
  box-sizing: border-box;
    height: 99%;

}
.video-container h2 {
  text-align: center;
  margin: 0;
  padding: 2px 0;
  font-size: 15px;
  border-bottom: 1px solid #ccc;
  background-color: lightcoral;
}
video {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}
h2 {
  text-align: center;
  margin: 0;
  padding: 10px 0;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
}
.checkbox-group {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.checkbox-group input[type="checkbox"] {
  margin-left: 20px;
  margin-right: 3px;
}
.checkbox-group input[type="checkbox"]:last-child {
  margin-right: 10px;
}
.center-link a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding-right: 50px;
}
